<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
		<add key="DurationAlert" value="100000" />
		<add key="NAME_PAYPAD" value="Pay+ APOSTAR" />
		<add key="LAST_NAME_PAYPAD" value="APOSTAR" />
		<add key="NAME_APLICATION" value="WPFAPOSTAR.exe" />
		<add key="ImageBoucher" value="C:\Users\A320\Desktop\WPFApostar-main\WPFApostar\bin\Debug\Images\BetPlay\Others\logo_gana_gris.png" />
		<add key="ValuesDispenser" value="DP:10000-DP:2000" />
		<add key="APLICATION_UPDATE" value="C:\Program Files (x86)\E-CITY\UpdateEcityInstaller\PayPlusUpdate.exe" />
		<!--END OTHERS-->
		<!--BEGIN PUERTOS DE LOS PERIFÉRICOS-->
		<!--<add key="Port" value="COM12" />
		<add key="PortAP" value="COM1" />
		<add key="PortPrinter" value="USB003" />
		<add key="PrintBandrate" value="9600" />
		<add key="PortBarcode" value="COM14" />
		<add key="BarcodeBandrate" value="9600" />-->
		<add key="Port" value="COM8" />
		<add key="dispenserPort" value="COM3" />
		<add key="PortAP" value="COM1" />
		<add key="acceptorDevice" value="MEI" />
		<add key="dispenserDenominations" value="10000;2000" />
		<add key="PortPrinter" value="USB002" />
		<add key="PrintBandrate" value="9600" />
		<add key="PortBarcode" value="COM2" />
		<add key="BarcodeBandrate" value="9600" />
		<add key="RutaFestivo" value="C:\Users\A320\Desktop\WPFApostar-main\WPFApostar\bin\Debug\isHoliday.exe" />
		<!--END PUERTOS DE LOS PERIFÉRICOS-->
		<!--BEGIN TIMERS-->
		<add key="TimerGenerico" value="09:10" />
		<add key="TimerInactividad" value="00:40" />
		<add key="TimerModal" value="00:15" />
		<add key="TimerPublicity" value="4" />
		<add key="RutaVideo" value="C:\VideosPayPad" />
		<add key="RecorderRoute" value="C:\Grabador" />
		<add key="Email" value="Alertasecity@gmail.com" />
		<add key="CodServicio" value="3003001" />
		<add key="CodData" value="001" />
		<!--END TIMERS-->
		<!--Puntos de venta-->
		<!--Oficina Principal-->
		<add key="UbicacionMaquina" value="Arboleda" />
		<add key="PuntoOficina" value="87" />
		<add key="PuntoVenta" value="901092458" />
		<!--End Puntos de venta-->
		<!--BEGIN SERVICES INTEGRATION-->
		<add key="GetProductsBetPlay" value="Apostar/BetPlay/GetProducts" />
		<add key="GetTokenBetplay" value="Apostar/BetPlay/GetToken" />
		<add key="NotifyRecharge" value="Apostar/BetPlay/NotifyRecharge" />
		<!--Chance SERVICES INTEGRATION-->
		<add key="GetProductsChance" value="Apostar/Chance/ConsultProducts" />
		<add key="ValidateChance" value="Apostar/Chance/ValidateChance" />
		<add key="GetLotteries" value="Apostar/Chance/GetLoteriesChance" />
		<add key="NotifyChance" value="Apostar/Chance/NotifyChance" />
		<add key="TypeChance" value="Apostar/Chance/ConsultTypesChance" />
		<!--Recaudo SERVICES INTEGRATION-->
		<add key="GetRecaudo" value="Apostar/Recaudo/ConsultRecaudos" />
		<add key="GetParameters" value="Apostar/Recaudo/ConsultParameters" />
		<add key="ConsultRecaudo" value="Apostar/Recaudo/ConsultDataValue" />
		<add key="NotifyPay" value="Apostar/Recaudo/NotifyRecaudo" />
		<add key="IdDepartamento" value="66" />
		<!--PayerAlerts SERVICES INTEGRATION-->
		<add key="SaveUser" value="Apostar/Payer/SavePayer" />
		<add key="SendAlert" value="Apostar/Payer/SendAlert" />
		<!--Datos de chances-->
		<add key="iva_porcentaje" value="19" />
		<!--Paquetes SERVICES INTEGRATION-->
		<add key="ConsultSubproductosPaquetes" value="Apostar/Recargas/ConsultSubproductosPaquetes" />
		<add key="ConsultarPaquetes" value="Apostar/Recargas/ConsultarPaquetes" />
		<add key="GuardarPaquetes" value="Apostar/Recargas/GuardarPaquetes" />
		<!--End Request Data Recharge-->
		<!--BEGIN SERVICES-->
		<add key="basseAddress" value="http://ppal5.e-city.co/" />
		<!--Begin ApiIntegration-->
		<add key="basseAddressIntegration" value="https://apiapostar.e-city.co/" />
		<!--End ApiIntegration-->
		<!--Logs-->
		<add key="PathLog" value="C:\Users\William Ruiz\Desktop\WPFApostar\WPFApostar\bin\Debug\Log" />
		<!--End Logs-->
		<!--Ruta video publish-->
		<add key="VideoPublish" value="C:\Users\William Ruiz\Desktop\ProyectosE-City\APOSTAR\WPFApostar\WPFApostar\bin\Debug\Images\Publish\Vending.mp4" />
		<!--Ruta video publish-->
		<!--ApiCore-->
		<!--END SERVICES-->
		<!--BEGIN APIControllers-->
		<add key="CalificacionCliente" value="api/Machine/ReportScore" />
		<add key="InsertRecord" value="api/Machine/InsertRecord" />
		<add key="ValidatePayer" value="api/Machine/GetCheckPayer" />
		<add key="ValidateDispenser" value="Administrator/ValidateMoneyDispenser" />
		<add key="GetToken" value="Authentication/Authenticate" />
		<add key="InitPaypad" value="PayPadAdministrator/InitPaypad" />
		<add key="SaveLog" value="PayPadAdministrator/SaveLog" />
		<add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog" />
		<add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice" />
		<add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction" />
		<add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction" />
		<add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount" />
		<add key="ValidatePayForPayer" value="PayPadAdministrator/GetPayPayer" />
		<add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail" />
		<add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad" />
		<add key="GetBalance" value="PayPadAdministrator/GetBalance" />
		<add key="GetUpload" value="PayPadAdministrator/GetUpload" />
		<add key="SaveUpdateAdminOperation" value="PayPlusAdminController_MR/SaveUpdateAdminOperation" />
		<add key="SavePayer" value="PayPadAdministrator/SavePayer" />
		<add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction" />
		<add key="SaveErrorConsole" value="Console/SaveErrorConsole" />
		<add key="GetInvoiceData" value="PayPadAdministrator/GetConsecutiveTransaction" />
		<!--END APIControllers-->
		<!--BEGIN ConexionDB-->
		<add key="ConnectionString" value="Data Source=C:\Users\William Ruiz\Desktop\ProyectosE-City\APOSTAR\WPFApostar\WPFApostar\bin\Debug\DataContext\DB_Local.db;Pooling=true;FailIfMissing=false;Version=3" />
		<!--END ConexionDB-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	</configuration>